In [1]:
import backtrader as bt
import pandas as pd
import yfinance as yf

In [2]:
tesla_df = yf.download('TSLA')

[*********************100%%**********************]  1 of 1 completed

In [3]:
tesla_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...
2024-05-20,177.559998,177.750000,173.520004,174.949997,174.949997,61727400
2024-05-21,175.509995,186.880005,174.710007,186.600006,186.600006,115266500
2024-05-22,182.850006,183.800003,178.119995,180.110001,180.110001,88313500
2024-05-23,181.800003,181.899994,173.259995,173.740005,173.740005,71975500
2024-05-24,174.839996,180.080002,173.729996,179.240005,179.240005,65479700

In [4]:
tesla_df_parsed = bt.feeds.PandasData(dataname=tesla_df, datetime=None, open=0, high=1, low=2, close=4, volume=5, openinterest=-1)

In [5]:
tesla_df.to_csv('tesla.csv')

In [7]:
df = pd.read_csv('tesla.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...,...
3496,2024-05-20,177.559998,177.750000,173.520004,174.949997,174.949997,61727400
3497,2024-05-21,175.509995,186.880005,174.710007,186.600006,186.600006,115266500
3498,2024-05-22,182.850006,183.800003,178.119995,180.110001,180.110001,88313500
3499,2024-05-23,181.800003,181.899994,173.259995,173.740005,173.740005,71975500
3500,2024-05-24,174.839996,180.080002,173.729996,179.240005,179.240005,65479700

In [10]:
tesla_csv_parsed = bt.feeds.GenericCSVData(dataname='tesla.csv', datetime=0, open=1, high=2, low=3, close=5, volume=6, openinterest=-1, dtformat='%Y-%m-%d')
tesla_csv_parsed